extends layout.pug 

block content 
    h1= t('labels.creatingLabel')

    form(action= paths.labels(), method= 'post')
        .mb-3
            label.form-label(for= 'data-name')= t('labels.name')
            input.form-control(id = 'data-name', class= (errors.name ? 'is-invalid' : ''), type= 'text', placeholder= t('labels.name'), name= 'data[name]', value= (label || {}).name)
            if errors.name
                .form-control-feedback.invalid-feedback= errors.name

        button.btn.btn-primary(type= 'submit')= t('labels.create')