extends layout.pug 

block content 
    h1= t('labels.editingLabel')

    form(action= paths.editDeleteLabel(label.id), method= 'post')
        input(name= '_method', type= 'hidden', value= 'patch')
        .mb-3
            label.form-label(for= 'data-name')= t('labels.name')
            input.form-control(id= 'data-name', type= 'text', placeholder= t('labels.name'), name= 'data[name]', value= label.name)

        button.btn.btn-primary(type= 'submit')= t('labels.edit')