doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/bootstrap.min.css")
    title @Hexlet/code
body 
    header.p-3.text-bg-dark 
        .container 
            .d-flex.justify-content-between
                ul.nav
                    li
                        a.nav-link(href= paths.users())= t('layout.users')
                .d-flex.align-items-center
                    a.btn.btn-outline-light.me-2= t('layout.login')
                    a.btn.btn-primary(href= paths.signUp())= t('layout.signUp')
    .container.p-3
        each messages, type in flash
            each message in messages
                div.alert(class=`alert-${type}`)= message

        block content