include mixins.pug

doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/bootstrap.min.css")
    title @Hexlet/code
    script(src="/assets/bootstrap.min.js")
body 
    header.p-3.text-bg-dark 
        .container 
            .d-flex.justify-content-between
                ul.nav
                    li
                        a.nav-link(href= paths.main())= t('layout.main')
                    li
                        a.nav-link(href= paths.users())= t('layout.users')
                .d-flex.align-items-center.flex-wrap.justify-content-end
                    if isAuthenticated()
                        +buttonTo(paths.session(), 'delete')(class="btn btn-primary" value= t('layout.logout'))
                    else 
                        a(href= paths.login()).btn.btn-outline-light.me-2= t('layout.login')
                        a(href= paths.signUp()).btn.btn-primary= t('layout.signUp')
    .container.p-3
        each messages, type in flash
            each message in messages
                div.alert.alert-dissmissible.fade.show.d-flex.align-items-center.justify-content-between(class=`alert-${type}`, role='alert')
                    = message
                    button.btn-close(type= 'button', data-bs-dismiss='alert', aria-label='Close')

        block content